/* General */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');
body
{
    margin:0;
}
h2
{
    margin:0;
    font-family:"Shrikhand";
    font-size:27px;
    font-weight:700;
    color:black;
}
h3
{
    margin:0;
    font-family:"Roboto";
    font-size:20px;
    font-weight:300;
}
h4
{
    position:relative;
    margin:10px 0 10px 10px;
    font-family:"Roboto";
    font-size:17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
h5
{
    font-family:"Roboto";
    font-size:17px;
}
p
{
    margin:0 0 0 10px;
    font-family:"Roboto";
    font-weight:300;
    color:black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
a
{
    text-decoration:none;
}

/* Header */

header
{
    display:flex;
    align-items:center;
    justify-content:center;
}
header a
{
    position:absolute;
    color:black;
    left:20px;
}
h1
{
    margin:0;
    padding:15px 0;
    font-family:"Shrikhand";
    font-size:30px;
}
img
{
    max-height:400px;
    width:100%;
    object-fit:cover;
}

/* Main */

main
{
    background-color:#eeeeee;
}

/* Main - Header */

main header
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 30px 30px 15px;
    margin-top:-55px;
    border-radius:30px 30px 0 0;
    z-index:1;
    background-color:#eeeeee;
    position:relative;
}
@media screen and (min-width:1000px)
{
    main header
    {
        margin:-55px auto 0 auto;
    }
}
.card_heart
{
    display:flex;
    align-items:center;
    justify-content:center;
    height:25px;
    width:25px;
    font-size:25px;
}
.hollow
{
    position:absolute;
    color:black;
    background-color:#eeeeee;
    cursor:pointer;
}
.hollow:hover
{
    opacity:0;
    transition-duration:1s;
}
.full
{
    background:-webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

/* Main - Menu */

.menu
{
    display:flex;
    flex-direction:column;
    row-gap:20px;
}
@media screen and (min-width:700px)
{
    .menu
    {
        display:grid;    
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr;
    }
}
@media screen and (min-width:1000px)
{
    .menu
    {
        display:grid;    
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:1fr;
        margin:0 auto;
    }
}
section
{
    display:flex;
    flex-direction:column;
    padding:0 15px 20px 15px;
    row-gap:15px;
    background-color:#eeeeee;

}
h3:after
{
    content:"";
    position:absolute;
    height:3px;
    width:50px;
    margin-top:25px;
    background-color:#99e2d0;
}
#h3_1:after
{
    margin-left:-84px;
}
#h3_2:after
{
    margin-left:-58px;
}
#h3_3:after
{
    margin-left:-94px;
}
article
{
    display:flex;
    height:70px;
    width:100%;
    border-radius:10px;
    box-shadow:0 5px 10px #dddddd;
    background-color:white;
    opacity:0;
    animation:article 1s forwards;
    cursor:pointer;
    overflow: hidden;
}
@keyframes article 
{
    from 
    {
        transform:translatey(10px);
        opacity:0;
    }
    to 
    {
        transform:translatey(0px);
        opacity:1;
    }
}
article:nth-child(1) 
{
    animation-delay:0.2s;
}
article:nth-child(2) 
{
    animation-delay:0.4s;
}
article:nth-child(3) 
{
    animation-delay:0.6s;
}
article:nth-child(4) 
{
    animation-delay:0.8s;
}
article:nth-child(5) 
{
    animation-delay:1s;
}
.description
{
    display:flex; 
    justify-content:space-between;
    flex:1;
    height:70px;
    border-radius:10px;
    overflow: hidden;

}
.description__text
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.description h5
{
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    margin:0 40px 10px 0;
}
.check
{
    display:flex; 
    align-items:center;
    justify-content:center;
    float:right;
    height:70px;
    font-size:25px;
    width:0;
    opacity:0;
    border-radius:0 10px 10px 0;
    color:white;
    background-color:#99e2d0;
}
article:hover .check
{
    width:80px;
    opacity:1;
    transition-duration:1s;
}
article:hover .check i
{
    transform:rotate(-360deg);
    transition-duration:1s;
}

/* Main - Order */

.order
{
    padding:30px 0 45px 0;
    text-align:center;
}
@media screen and (min-width:700px) and (max-width:1000px)
{
    .order
    {
        padding:0 0 45px 0;
    }
}
button
{
    padding:10px 30px;  
    border:0;
    font-family:"Roboto";
    font-size:15px;
    font-weight:500;
    color:white;
    border-radius:100px;
    background-color:#686868;
    background-image:linear-gradient(to top,rgba(147,86,220,.9),rgba(255,121,218,.9));
    box-shadow:5px 5px 10px grey;
    cursor:pointer;
}
button:hover
{
    box-shadow:8px 8px 10px grey;
    opacity:0.75;
    color:black;
}

/* Footer */

footer
{
    padding:20px;
    background-color:#353535;
}
footer h1
{
    text-align:left;
    font-size:20px;
    font-weight:300;
    color:white;
}
@media screen and (min-width:700px)
{
    footer h1
    {
        text-align:center;
    }
}
footer ul
{
    list-style-type:none;
    margin:0 0 20px 0;
    padding-left:0;
}
@media screen and (min-width:700px)
{
    footer ul
    {
        display:flex;
        justify-content:center;
        column-gap:5%;
    }
}
footer a
{
    display:flex;
    color:white;
    font-family:"Roboto";
    font-weight:300;
    line-height:2;
}
footer i
{
    margin:auto;
    width:30px;
}