/* General */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');
body
{
    margin:0;
}
h2
{
    margin:0;
    font-family:"Roboto";
    font-size:16px;
    font-weight:700;
    color:black;
}
h3
{
    margin:0;
    font-family:"Roboto";
    font-size:25px;
    font-weight:700;
}
p
{
    margin:0;
    font-family:"Roboto";
    font-weight:300;
    color:black;
}
a
{
    text-decoration:none;
}

/* Spinner */

.load_screen
{
    position:fixed;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content:space-around;
    height:100%;
    width:100%;
    background:white;
    animation:fadeout 0.2s 3s forwards;
}
@keyframes fadeout 
{
    from 
    {
      opacity:1;
      z-index:1;
    }
    to 
    {
      opacity:0;
      z-index:-1;
    }
}
.spinner_big 
{
    position:absolute;
    width:136px;
    height:136px;
    border:24px solid rgba(161, 160, 160, 0);
    border-bottom:24px solid #9356dc;
    border-left:24px solid #9356dc;
    border-radius:50%;
    border-top:24px solid #9356dc;
    animation:spinnerleft 0.8s 0.2s 5;
}
.spinner_small 
{
    position:absolute;
    width:40px;
    height:40px;
    border:12px solid rgba(161, 160, 160, 0);
    border-bottom:12px solid #99e2d0;
    border-left:12px solid #99e2d0;
    border-radius:50%;
    border-top:12px solid #99e2d0;
    animation:spinnerleft 0.8s 0.2s 5;
}
@media screen and (min-width:700px)
{
    .spinner_big 
    {
        position:absolute;
        width:272px;
        height:272px;
        border:48px solid rgba(161, 160, 160, 0);
        border-bottom:48px solid #9356dc;
        border-left:48px solid #9356dc;
        border-radius:50%;
        border-top:48px solid #9356dc;
        animation:spinnerleft 0.8s 0.2s 5;
    }
    .spinner_small 
    {
        position:absolute;
        width:80px;
        height:80px;
        border:24px solid rgba(161, 160, 160, 0);
        border-bottom:24px solid #99e2d0;
        border-left:24px solid #99e2d0;
        border-radius:50%;
        border-top:24px solid #99e2d0;
        animation:spinnerleft 0.8s 0.2s 5;
    }
}
@keyframes spinnerleft 
{
    from 
    {
        transform:rotate(360deg);
    }
    to 
    {
        transform:rotate(0deg);
    }
}
.spinner_medium
{
    position:absolute;
    height:80px;
    width:80px;
    border:16px solid rgba(161, 160, 160, 0);
    border-bottom:16px solid #ff79da;
    border-radius:50%;
    border-right:16px solid #ff79da;
    border-top:16px solid #ff79da;
    animation:spinnerright 0.8s 0.2s 5;
}
@media screen and (min-width:700px)
{
    .spinner_medium
    {
        position:absolute;
        height:160px;
        width:160px;
        border:32px solid rgba(161, 160, 160, 0);
        border-bottom:32px solid #ff79da;
        border-radius:50%;
        border-right:32px solid #ff79da;
        border-top:32px solid #ff79da;
        animation:spinnerright 0.8s 0.2s 5;
    }
}
@keyframes spinnerright 
{
    from 
    {
        transform:rotate(0deg);
    }
    to 
    {
        transform:rotate(360deg);
    }
}

/* Header */

header
{
    position:relative;
    box-shadow:0 0 7px grey;
}
h1
{
    margin:0;
    padding:15px 0;
    font-family:"Shrikhand";
    font-size:30px;
    text-align:center;
}

/* Main - Location */

.location
{
    display:flex;
    align-items:center;
    height:60px;
    padding-left:28%;
    background-color:#e4e4e4;
}
@media screen and (min-width:700px)
{
    .location
    {
        padding-left:0;
        justify-content:center;
    }
}
.location i
{
    margin-right:18px;
}

/* Main - Search */

.search
{
    height:auto;
    text-align:center;
    padding:30px 30px 50px 30px;
    background-color:#eeeeee;
}
.search h3
{
    padding:0 30px;
    text-align:center;
}
.search p
{
    text-align:center;
    margin:15px 0 35px 0;
    font-size:18px;
}
.search a
{
    text-align:center;
    padding:10px 20px;
    border-radius:100px;
    font-family:"Roboto";
    font-size:15px;
    font-weight:700;
    color:white;
    background-color:#686868;
    background-image:linear-gradient(to top,rgba(147,86,220,.9),rgba(255,121,218,.9));
    box-shadow:5px 5px 10px grey;
}
.search a:hover
{
    box-shadow:8px 8px 10px grey;
    color:black;
    opacity:0.75;
    cursor:pointer;
}

/* Main - Tuto */

.tuto
{
    height:auto;
    padding:30px 20px;
}
.tuto ul
{
    display:flex;
    flex-direction:column;
    row-gap:20px;
    padding-left:10px;
    list-style-type:none;
}
@media screen and (min-width:1000px)
{
    .tuto ul
    {
        flex-direction:row;
        justify-content:space-between;
    }
    .tuto li
    {
        width:31%;
    }
}
.tuto a
{
    display:flex;
    align-items:center;
    padding:20px 30px;
    border-radius:25px;
    background-color:#eeeeee;
    box-shadow:0 5px 10px #dddddd;
}
.tuto a:hover
{
    opacity:0.75;
    box-shadow:0 10px 10px #dddddd;
    cursor:pointer;
}
.tuto span
{
    font-family:"Roboto";
    font-weight:500;
    padding:5px 10px;
    margin:0 20px 0 -45px;
    border-radius:100px;
    background-color:#9356DC;
    color:white;
}
.tuto i
{
    width:25px;
    font-size:20px;
    text-align:center;
}
.tuto_icon_color1
{
    color:rgb(80, 80, 80);
}
.tuto_icon_color2
{
    color:#9356DC;
}
.tuto h2
{
    padding-left:25px;
}

/* Main - Restaurant */

.restautant
{
    padding:30px 20px 40px 20px;
    background-color:#eeeeee;
}
.restautant h3
{
    margin:20px 0;
}
article
{
    display:grid;
    row-gap:15px;
}
@media screen and (min-width:1000px)
{
    article
    {
        grid-template-columns:1fr 1fr;
        column-gap:20px;
        row-gap:20px;
    }
}
.restautant a
{
    border-radius:15px;
    background-color:white;
    box-shadow:0 5px 10px #dddddd;
    z-index:0;
}
.restautant a:hover
{
    opacity:0.75;
    box-shadow:0 10px 10px #dddddd;
    cursor:pointer;
}
.restautant img
{
    height:180px;
    width:100%;
    object-fit:cover;
    border-radius:15px 15px 0 0;
}
.restautant span 
{  
    position:relative;
    top:-170px;
    right:-72%;
    padding:7px 10px;
    font-family:"Roboto";
    font-size:16px;
    font-weight:700;
    background-color:#99E2D0;
    border-radius:3px;
    color:rgb(43, 145, 43);
}
@media screen and (max-width:350px)
{
    .restautant span
    {
        right:-65%;
    }
}
@media screen and (min-width:700px)
{
    .restautant span
    {
        right:-87%;
    }
}
@media screen and (min-width:1000px)
{
    .restautant span
    {
        right:-80%;
    }
}
.restautant aside
{
    display:flex;
    align-items:center;
    padding:15px;
}
.new
{
    margin-top:-20px;
}
.card_text
{
    flex:1;
}
.restautant h2
{
    padding-bottom:5px;
}
.card_heart
{
    display:flex;
    align-items:center;
    justify-content:center;
    height:25px;
    width:25px;
    font-size:25px;
}
.hollow
{
    position:absolute;
    color:black;
    background-color:white;
    cursor:pointer;
}
.hollow:hover
{
    opacity:0;
    transition-duration:1s;
}
.full
{
    background:-webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

/* Footer */

footer
{
    padding:20px;
    background-color:#353535;
}
footer h1
{
    text-align:left;
    font-size:20px;
    font-weight:300;
    color:white;
}
@media screen and (min-width:700px)
{
    footer h1
    {
        text-align:center;
    }
}
footer ul
{
    list-style-type:none;
    margin:0 0 20px 0;
    padding-left:0;
}
@media screen and (min-width:700px)
{
    footer ul
    {
        display:flex;
        justify-content:center;
        column-gap: 5%;
    }
}
footer a
{
    display:flex;
    color:white;
    font-family:"Roboto";
    font-weight:300;
    line-height:2;
}
footer i
{
    display:flex;
    align-items:center;
    width:30px;
}